
<div align="center">
    <br />
    <label>Nombre completo:</label>
    <input type="text" name="NombreCompleto" id="NombreCompleto" class="form-control  text-center" />
</div>

<div align="center"><br />
    <label>Cédula:</label>
    <input type="text" name="Cedula" id="Cedula" class="form-control text-center" />
</div>

<div align="center"><br />
    <label>Provincia:</label>
    <select name="id_Provincia" id="id_Provincia" class="form-control text-center"></select>
</div>
<div align="center"><br />
    <label>Cantón:</label>
    <select name="id_Canton" id="id_Canton" class="form-control text-center"></select>
</div>

<div align="center"><br />
    <label>Distrito:</label>
    <select name="id_Distrito" id="id_Distrito" class="form-control text-center"></select>
</div>

@Html.ValidationSummary(true)



