<h3>Buscar cursos por carrera</h3><br />

<div align="center">
	<label>Carrera:</label>
	<select name="Carrera" id="Carrera" class="form-control"></select>
</div>

<br />

<div align="center">
	<input type="button" value="Buscar" id="btnBusqueda" class="btn btn-primary" />
</div>

<br />

<div id="divKendoGrid">

</div>

@section scripts{
	<script src="~/Scripts/Universidad/BuscaCursoxCarrera.js"></script>
}

