@model ProyectoPVl.Models.RetornaCarreraUniversitariaID_Result
<h3>Eliminar la carrera</h3><br />

<form id="frmEliminarCarrera" method="post">

	<input type="hidden" id="id_Carrera" value="@Model.id_CarreraUniversitaria" />

	<div  align="center">
		<label>Nombre de la carrera:</label>
		<input type="text" name="Nombre" id="Nombre" class="form-control" value="@Model.Nombre" readonly /><br />
	</div>

	<div align="center">
		<label>Código del curso:</label>
		<input type="text" name="Codigo" id="Codigo" class="form-control" value="@Model.Codigo" readonly /><br />	
	</div>

	<div  align="center">
		<label>Dirección de carrera:</label>
		<input type="text" name="DireccionCarrera" id="DireccionCarrera" class="form-control" value="@Model.DirecciónCarrera" readonly />
	</div>
    <br />
	<div  align="center">
		<input type="button" value="Eliminar" id="btnEliminar" class="btn-danger"/>
	</div>

</form>

@section scripts{
	<script src="~/Scripts/Universidad/EliminaCarrera.js"></script>
}

