<h3>Reporte de notas</h3>

<style>
	.ui-datepicker-calendar {
		display: none;
	}

	.ui-datepicker-month {
		display: none;
	}

	.ui-datepicker-prev {
		display: none;
	}

	.ui-datepicker-next {
		display: none;
	}
</style>

<form id="frmReporteNotas" method="post">

	<br />

	<div align="center">
		<label>Sede:</label>
		<select name="Sede" id="Sede" class="form-control"></select>
	</div>

	<br />

	<div align="center">
		<label for="Ano">Año:</label>
		<input type="text" name="Ano" id="Ano" class="form-control" />
	</div>

	<br />

	<div align="center">
		<label>Cuatrimestre:</label>
		<select name="Cuatrimestre" id="Cuatrimestre" class="form-control"></select>
	</div>

	<br />

	<div align="center">
		<label>Seleccione el curso:</label>
		<select name="Curso" id="Curso" class="form-control"></select>
	</div>

	<br />

	<div align="center">
		<input type="button" value="Consultar" id="btnConsultar" class="btn-primary" />
	</div>

	<br />

</form>

<table class="table" id="tblNotas">
	<thead>
		<tr style="background-color:WindowFrame">
			<th>Nombre completo</th>
			<th>Curso</th>
			<th>Nota</th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

@section scripts{
	<script src="~/Scripts/Universidad/ReporteNotas.js"></script>
}
