.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../Imagenes/spritesEstudiantes.png);
}

.estudiantes1_opt {
    width: 400px;
    height: 225px;
    background-position: -0px -0px
}

.estudiantes2_opt {
    width: 400px;
    height: 225px;
    background-position: -400px -0px
}

.estudiantes3_opt {
    width: 400px;
    height: 225px;
    background-position: -800px -0px
}
