*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contenedor {

	height: 500px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-around;
	align-items: stretch;
}
.hijo {
	margin-left: 90px;
	width: 200px;
	/*	height: 100px;*/
	color: black;
	font-size: 15px;
	text-align: left;
}