
@{
    ViewBag.Title = "Contacto";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Accordion - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
    </script>
</head>
<body>
    <br /><br /><br />
    <div id="accordion">
        <h3 style="background-color:darkcyan">Sede San José</h3>
        <div>
            <p>
                <strong>Teléfono:</strong> 2542 0300 <br /> <br />
                <strong> Dirección: </strong>Avenida primera, entre calles 5 y 7, San José, Costa Rica.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.4992121381822!2d-84.07633784870757!3d9.934219436797274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa14e7c37976a3f%3A0xb56e80e509753e48!2sUniversidad%20Castro%20Carazo!5e0!3m2!1ses!2scr!4v1598300284901!5m2!1ses!2scr" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
        </div>
        <h3 style="background-color:darkcyan">Puriscal</h3>
        <div>
            <p>
                <strong>Teléfono:</strong> 2417 0587<br /><br />
                <strong>Dirección:</strong> Oficinas Universidad Castro Carazo Puriscal, Av 2, San José, Santiago.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3931.0526170145754!2d-84.31617648549798!3d9.845948092956908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa1ab29b2387b31%3A0x8898c66aaf65e1bc!2sOficinas%20Universidad%20Castro%20Carazo%20Puriscal!5e0!3m2!1ses!2scr!4v1598300063813!5m2!1ses!2scr" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <h3 style="background-color:darkcyan">Limón</h3>
        <div>

            <p>
                <strong>Teléfono:</strong> 2798 4395<br /><br />
                <strong>Dirección:</strong> Universidad Metropolitana Castro Carazo, Av 3, Limón
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.3239298420193!2d-83.03176356500727!3d9.992413307552743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa7059c127b8af5%3A0x9730badd2d9d0251!2sUniversidad%20Metropolitana%20Castro%20Carazo!5e0!3m2!1ses!2scr!4v1598300397352!5m2!1ses!2scr" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
        <h3 style="background-color:darkcyan">Puntarenas</h3>
        <div>
            <p>
                <strong> Teléfono: </strong> 2661 4056<br /><br />
                <strong> Dirección:</strong> Universidad Castro Carazo, 50m este del Hotel Alamar, Paseo de los Turistas, Puntarenas
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d584.1249009931846!2d-84.84669152542652!3d9.974806027090374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa02ec8086fc1c9%3A0x84e1a4dc0e2b4d99!2sUniversidad%20Castro%20Carazo!5e0!3m2!1ses!2scr!4v1598300475351!5m2!1ses!2scr" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>


</body>
</html>
