
@{
    ViewBag.Title = "Universidad";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/universidad.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h1 style="color:#FFC112">BIENVENIDA</h1> <br />
    <div class="contenedor">

        <div class="">
            <p>
                Al ingresar a nuestro portal web, encontrará información importante para tomar <br />
                una de las decisiones más fundamentales de su proyecto personal: la escogencia <br />
                de una universidad en la cual sus sueños se hagan posible. Unidos a sus expectativas, <br />
                la Universidad Castro Carazo realiza todos los esfuerzos por colaborar en la construcción<br />
                de una sociedad justa y capaz de generar espacios e igualdad de oportunidades para <br /> todos los costarricenses. <br /><br />

                Nuestro compromiso y esta alianza que establecemos con usted garantizarán el acceso al éxito.<br />
                Más de siete décadas de historia en la educación costarricense, dan cuenta del número significativo<br />
                de graduados ─a lo largo de siete regiones del país─  que contribuyen al desarrollo del país. <br />
                Nuestra Universidad trabaja permanentemente en el mejoramiento continuo de servicios<br /> y productos nuevos, pertinentes y actualizados.<br /><br /><br />
            </p>

            <h4 style="color:darkcyan">¡Sea bienvenido a nuestra comunidad de aprendizaje! </h4>
        </div>

        <div class="hijo">
            <iframe width="460" height="300" src="https://www.youtube.com/embed/v0Lj5Tf8m-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <audio controls  
             src="~/Imagenes/videoplayback.m4a" type="audio/mpeg"></audio>
        </div>

    </div>

</body>
</html>
